/* index.html */
    /* navbar */
    .navbar {
      background: rgba(0, 0, 0, 0.5);
      font-family: "Open Sans";
    }

    .navbar-brand {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.1em;
    }
    .nav-item {
      line-height: 16px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }

    /* section 1 */
    #sec-1 {
      background: url("assets/main-bg.jpg") no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      text-align: center;
      color: white;
    }

    #sec-1 h1 {
      font-weight: 700;
      font-size: 72px;
      line-height: 83px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: center;
    }
    #sec-1 h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 2px;
      text-align: center;
    }
    #sec-1 .btn-play {
      text-align: center;
      font-weight: 700;
      width: 260px;
      height: 60px;
      border-radius: 4px;
      font-size: 16px;
      background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    }
    .btn-story {
      line-height: 16px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em;
      font-family: "Open Sans";
      padding-top: 20%;
      padding-bottom: 2%;
    }

    /* section 2 */

    #sec-2 {
      background: url("assets/the-games-bg.jpg") no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;

      color: white;
    }

    div.carousel-indicators button#carousel-indicator {
      width: 13px;
      height: 13px;
      margin: 0 1.5em 0 1.5em;
      background-color: transparent;
      opacity: 1;
      border: 1px;
      border-color: white;
      border-style: solid;
      border-radius: 100px;
    }
    div.carousel-indicators button#carousel-indicator:hover {
      opacity: 0.5;
      transition: 0.1s;
    }
    div.carousel-indicators button#carousel-indicator.active {
      background-color: white;
    }

    #sec-2 h1 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    #sec-2 h3 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 2px;
    }
    #sec-2 .container {
      padding-top: 5px;
      display: flex;
      flex-direction: row;
    }
    .carousel-control-prev-icon {
      background-image: url(assets/switch-left.svg);
      color: black;
    }
    .carousel-control-next-icon {
      background-image: url(assets/switch-right.svg);
      color: black;
    }

    /* section 3 */
    #sec-3 {
      background: url("assets/features.jpg") no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 15%;
      color: white;
    }
    .item {
      padding-top: 170px;
      padding-bottom: 50px;
    }

    #sec-3 .item h1 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    #sec-3 .item h4 {
      color: white;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 2px;
    }

    #sec-3 .item ul h3 {
      color: #ffb548;
      margin-top: 2em;
    }

    .item ul li {
      list-style-type: circle;
    }
    .item ul li:nth-child(1) {
      list-style-type: disc;
    }
    .item ul li::marker {
      color: white;
      font-size: 2rem;
    }
    /* section 4 */

    #sec-4 {
      background: url("assets/requirements.png") no-repeat center center;
      background-size: cover;
      padding-top: 10%;
      padding-bottom: 20%;
      color: white;
    }

    #sec-4 .sec-4-textHead {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 2px;
      padding-top: 120px;
    }
    #sec-4 h1 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: 3px;
      padding-bottom: 30px;
    }
    #sec-4 h3 p {
      color: white;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
    table,
    th,
    td {
      color: #ffb548;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      border: 2px solid #979797;
      border-collapse: collapse;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    /* section 5 */
    #sec-5 {
      background: url("assets/top-score-bg.png") no-repeat center center;
      background-size: cover;
      padding-top: 15%;
      padding-bottom: 15%;
      color: white;
    }
    #sec-5 .container .item-left h1 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: 3px;
      padding-top: 150px;
    }
    #sec-5 .container .item-left p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
    #main-button {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 22px;
      color: black;
      font-weight: 700;
      border-radius: 4px;
      text-align: center;
      text-transform: lowercase;
      width: 260px;
      height: 60px;
      border: none;
      background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    }

    .card .card-body h4 {
      color: #ffb548;
    }
    .card .card-body h5 {
      color: #ffffff;
      opacity: 0.5;
      font-weight: 400;
    }
    div .card {
      background-color: #ffffff14;
      border-radius: 10px;
    }
    div .card:nth-child(odd) {
      float: right;
    }
    div .img-card img {
      height: 4em;
      width: 4em;
      box-shadow: 6px 2px 0 2px #ffb548;
      border-radius: 100%;
    }
    #sec-5 div .subtext {
      padding-bottom: 20px;
      color: #ffffff;
      opacity: 0.5;
    }
    #sec-5 div .card {
      padding: 10px;
      margin-bottom: 30px;
      width: 33rem;
      height: 12rem;
    }

    /* section 6 */
    #sec-6 {
      background: url("assets/newsletter.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      padding: 160px 16px 0 16px;
      height: 960px;
      width: 100%;
      color: white;
    }
    #sec-6 .img-skull {
      background-image: url("assets/skull.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    #sec-6 .item h3 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 2px;
      padding-bottom: 20px;
    }
    #sec-6 .item h1 {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 65px;
      line-height: 75px;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    #sec-6 .item p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 20px;
    }
    #sec-6 form .row {
      margin-top: 6rem;
    }
    #sec-6 div .form-floating {
      width: 22rem;
    }
    #sec-6 div .form-floating input {
      background-color: #ffffff14;
      border-color: #ffffff14;
      color: rgba(248, 178, 61, 1);
    }
    #sec-6 div .form-floating input:focus {
      box-shadow: 0 0 10px 5px rgba(248, 178, 61, 0.5);
      transition: 0.3s;
    }
    #sec-6 div .form-floating label {
      padding-left: 1.75rem;
      color: #ffffff;

      background-color: transparent;
    }

    #sec-6 .btn-sub {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 22px;
      color: black;
      font-weight: 700;
      border-radius: 4px;
      text-align: center;
      width: 260px;
      height: 60px;
      border: none;
      background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    }

    /* footer - section 7 */

    footer {
      background-image: url(assets/newsletter.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    footer li.nav-item a {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
    }
    footer {
      letter-spacing: 2px;
      font-weight: 00;
      font-size: 12px;
      list-style: none;
      flex-direction: row;
    }
    footer p.text-start {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    /* media query */
    @media screen and (max-width: 768px) {
      #sec-1 h1 {
        font-size: 58px;
      }
      #sec-1 h3 {
        font-size: 16px;
      }
      #sec-1 .btn-play {
        width: 160px;
        height: 45px;
        font-size: 12px;
      }
      .btn-story {
        font-size: 8px;
      }

      #sec-2 h1 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 2px;
      }
      #sec-2 h3 {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 2px;
      }

      #sec-3 .item h1 {
        margin-left: 80px;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 3px;
      }
      #sec-3 .item h4 {
        margin-left: 80px;
        font-size: 17px;
        line-height: 18px;
      }
      #sec-3 .item ul h3 {
        font-size: 20px;
      }

      .item ul li {
        margin-left: 80px;
        list-style-type: circle;
      }
      .item ul p {
        margin-left: 80px;
        list-style-type: circle;
      }

      #sec-4 .sec-4-textHead {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;
        padding-top: 120px;
      }
      #sec-4 h1 {
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 3px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      #sec-4 h3 p {
        font-size: 15px;
        line-height: 18px;
      }
      table,
      th,
      td {
        font-size: 18px;
        line-height: 8px;
        border: 2px solid #979797;
        border-collapse: collapse;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }

      #sec-5 .container .item-left h1 {
        font-size: 40px;
        line-height: 40px;
      }
      #sec-5 .container .item-left p {
        font-size: 14px;
        line-height: 17px;
      }
      #main-button {
        font-size: 16px;
        line-height: 22px;
        text-transform: lowercase;
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
      }

      .card .card-body h4 {
        font-size: 15px;
      }
      .card .card-body h5 {
        font-size: 10px;
      }
      div .card {
        text-align: center;
        background-color: #ffffff14;
      }
      div .img-card img {
        height: 2em;
        width: 2em;
      }
      #sec-5 div p {
        font-size: xx-small;
      }
      #sec-5 div .subtext {
        font-size: 8px;
      }
      #sec-5 div .card {
        margin-bottom: 20px;
        width: 18rem;
        height: 15rem;
      }

      #sec-6 .img-skull {
        background-image: url("assets/skull.png");
        background-size: contain;
        width: 100px;
        background-position: center;
        background-repeat: no-repeat;
      }

      #sec-6 .item h3 {
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 2px;
        padding-bottom: 3px;
      }
      #sec-6 .item h1 {
        text-align: center;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 3px;
      }
      #sec-6 .item p {
        text-align: center;
        font-size: 10px;
        line-height: 22px;
        padding-bottom: 3px;
      }
      #sec-6 div .form-floating {
        text-align: center;
      }
      #sec-6 div .form-floating input {
        text-align: center;
      }
      #sec-6 div .form-floating input:focus {
        text-align: center;
      }
      #sec-6 div .form-floating label {
        font-size: 12px;
        padding-right: 1.75rem;
        color: #ffffff;

        background-color: transparent;
      }

      #sec-6 .btn-sub {
        margin-top: 20px;
        text-align: center;
        font-family: "Open Sans";
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        width: 235px;
        height: 60px;
      }
    }
